# Env file
.env
env

# vscode
.vscode/

# Python cache
__pycache__/

# data
data/
output_scores/
model_alignment/
model_alignment_probability/

# SLURM Runs
sbatch_run/
sbatch_output/
commands

# Misc view scripts
view_scores.ipynb

# platforms for annotation
platforms/

# misc
prepare_merged_data_for_ranking.ipynb
merged_*.csv
show_model_embedded_opinion.ipynb
model_alignment_limit
view.ipynb
reports/

# old
old/

#out files
out/